body {
  background-color: rgb(250, 234, 220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: maroon;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: brown;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: maroon;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 14px 24px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid coral;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
